/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 90px;
}

.btn {
    border-radius: 0;
}

nav.navbar {
    background-color: #227093;
}

.navbar-brand {
    color: #FFF;
    font-weight: 600;
}

a.nav-link.user-icon {
    color: #FFF;
    font-weight: 600;
}