<div class="container mt-5" *ngIf="afAuth.authState | async as user; else showWelcome">
  <div class="row">
    <div class="col-12">
      <div class="custom-border py-1 pl-2 mb-3">
        <h1 class="text-dark">Outstanding Points: <strong><span class="text-danger">{{outstandingPoints}}</span></strong></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Type</th>
              <th>Points</th>
              <th>Start Date</th>
              <th>Exp. Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let violation of violations" style="cursor: pointer;" (click)="handleRowClicked(violation.key, violation.values)" [ngClass]="{'bg-info text-light': violationClassHolder == violation.values}">
              <td>{{violation.values.violationType}}</td>
              <td>{{violation.values.equivalentPoints}}</td>
              <td>{{violation.values.startDate}}</td>
              <td>{{violation.values.endDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-primary ml-auto" style="margin-right: 15px;" (click)="addViolation()">Add Violation</button>
  </div>
  <div class="row">
    <div class="col-12">
      <br>
      <br>
      <app-violation-input-form 
        [selectedViolation]="selectedViolation" 
        [outstandingPoints]="outstandingPoints"
        [addViolationTag]="addViolationTag"
        [violationKey]="violationKey"
        [violationsObservable]="violations">
      </app-violation-input-form>
    </div>
  </div>
</div>
<ng-template #showWelcome>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center display-4">Personal Violation Tracker</h1>
          <p class="text-center lead">&copy; josemaridiago 2018</p>
        </div>
      </div>
    </div>      
</ng-template>